[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
giveme = "*"
redis = "*"
Flask = "*"
gunicorn = "*"
numpy = "*"

[packages.speedyspotify]
git = "git://github.com/steinitzu/speedyspotify.git"
