/*
Colors
   #EDF1EA
   #EABB47
   #EEA541
   #9889B2
   #566886
 */

body {
    background: #312C47;
    color: #C34D25;
    margin: 0;
    padding: 0;
}

.all-colors {
    background: #EDF1EA;    
    background: #312C47;
    background: #C34D25;
    background: #21484E;

    background: #647686;
    background: #B2B2A4;
    background: #C49B2A;
    background: #C34D25;
    

    background: #EABB47;
    background: #EEA541;
    background: #9889B2;
    background: #566886;
}


.btn-line-submit {
    border: 1px solid #C34D25;
    color: #C34D25;
    background: #21484E;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn-line-submit:hover {
    background: #C34D25;
    color: #21484E;
}


.btn-line-preset {
    border: 1px solid #C34D25;
    color: #C34D25;
    background: #EDF1EA;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    margin: 0.1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    .label-preset-description {
        display: none;
    }

    .heading-quick-description {
        display: none;
    }
    .btn-line-preset {
        padding: 0.2rem;
        margin: 0.1rem;;
    }
}

.btn-line-submit:hover {
    background: #C34D25;
    color: #21484E;
}

.tracklist-view {
    background: #EDF1EA;
}

.iframe-playlist-widget {
    border: none;
    margin-top: 1rem;
}

.container-loading {
    margin-top: 1rem;
}

.spinner-loading {
    margin-top: 1rem;
}

/* .container-chart {
   height: 40%;
   }

   .container-chart-form {
   height: 100%;
   background: salmon;
   } */




.App {
  text-align: center;
}

.highcharts-container {
    height: 50%;
}

.highcharts-background {
    fill: #EDF1EA;
}

.highcharts-graph {
    stroke-width: 6px;
    stroke: #E79C35;
}

.highcharts-point {
    fill: #9889B2;
}

.highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 0px;
    stroke: #d8d8d8;
}

.highcharts-yaxis-grid .highcharts-grid-line {
    stroke-width: 0px;
}
.highcharts-xaxis .highcharts-tick {
    stroke: #d8d8d8;
}
.highcharts-minor-grid-line {
    stroke-dasharray: 2, 2;
}
